<div class="col-md-12" style="margin-top:4%">

  <app-timer-with-controls *ngIf="timer" [timer]="timer" (finishTimerEvent)="finishTimer($event)"></app-timer-with-controls>

  <app-timer-info *ngIf="timer" [timer]="timer"></app-timer-info>

  <!--<app-timer-duration-section *ngIf="timer" [timer]="timer"></app-timer-duration-section>-->

  <app-timer-alarms-list *ngIf="timer" [timer]="timer"></app-timer-alarms-list>

  <app-timer-splits-list *ngIf="timer" [timer]="timer"></app-timer-splits-list>

  <app-timer-pauses-list *ngIf="timer" [timer]="timer"></app-timer-pauses-list>

</div>
