<div class="col-md-12" style="margin-top:4%">

  <app-timer-with-controls *ngIf="timer" [timer]="timer" (finishSplitTimerEvent)="finishSplit($event)" (splitTimerEvent)="splitTimer($event)"  (finishPauseTimerEvent)="finishPause($event)" (pauseTimerEvent)="pauseTimer($event)" (finishTimerEvent)="finishTimer($event)"></app-timer-with-controls>

  <app-timer-info *ngIf="timer" [timer]="timer"></app-timer-info>

  <app-timer-duration-section *ngIf="timer" [timer]="timer"></app-timer-duration-section>

  <app-timer-alarms-list *ngIf="timer" [timer]="timer"></app-timer-alarms-list>

  <app-timer-splits-list *ngIf="timer" [timer]="timer" [splitChildMessage]="splitChildMessage" [addedSplit]="addedSplit"></app-timer-splits-list>

  <app-timer-pauses-list *ngIf="timer" [timer]="timer" [pauseChildMessage]="pauseChildMessage" [addedPause]="addedPause"></app-timer-pauses-list>

</div>
