<app-navbar></app-navbar>

<div class="container-fluid h-80">

  <div class="row h-100">
    <div class="d-sm-3 col-sm-3" id="sidebar" style="padding-top:0px; padding-bottom:0px; padding-left: 0px">
      <app-left-sidebar></app-left-sidebar>
    </div>

    <div id="layoutMainContent" class="d-sm-9 col-sm-12 col-lg-9 h-100" style="padding-top: 90px; padding-bottom: 90px">

        <div class="container">
            <div class="col-md-12">
              <router-outlet></router-outlet>
            </div>
          </div>
    </div>

    <div id="rightWindowConstraint" style="position:fixed; padding: 0px 0px; width: 40px; right: 0;">
      <div class="sticky-top fixed-top backgroundSecondary" style="padding-top:100px; height:100vh"></div>
    </div>

  </div>
</div>

<div class="row backgroundMain mt-auto py-3 sticky-bottom fixed-bottom">
  <div class="col-md-12">
    <app-footer></app-footer>
  </div>
</div>
