<div class="sticky-top fixed-top backgroundSecondary" style="padding-top:100px; height:800px; min-height:100vh">
  <div style="color: white; text-align:center">
    <div class="row" style="font-size: 170px;">
      <span>{{ rxTime | date: 'HH' }}</span><hr style="height:6px"/>
      <span>{{ rxTime | date: 'mm' }}</span>
    </div>

    <div class="row"  style="font-size: 40px; color:darkgrey">
      <div>{{ rxTime | date: 'ss' }}s</div>
    </div>
  </div>

  <div class="row" style="text-align: center; color: lightsteelblue; font-size: 40px; padding-bottom:80px">
    <div>{{ rxTime | date: 'dd/MM/YYYY' }}</div>
  </div>
</div>
