<nav class="navbar navbar-expand-md navbar-dark fixed-top backgroundMain">
  <div class="container-fluid">
    <img src="../../assets/clock_time_outline.gif" width="64px" height="64px" />
    <span class="navbar-brand">Time It Up!</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/timers/active']" class="nav-link" aria-current="page">Active timers</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/timers/past']" class="nav-link">Past timers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><fa-icon size="lg" [icon]="faPlusCircle"></fa-icon></a>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-info m-1 nav-link" [routerLink]="['/user/details']"><fa-icon class="text-white" style="font-size:24px" [icon]="faUserEdit"></fa-icon></a>
        <button class="btn btn-danger m-1" (click)="clickLogoutUser($event)"><fa-icon style="font-size:24px" [icon]="faWindowClose"></fa-icon></button>
      </form>
    </div>
  </div>
</nav>
